*{
    color:#030303;
}
.body{
    background-color: #fdfdfd;
}
.fa-uncharted {
    color: #00ADB5;
}
 .navbar{
    background-color: #fcfafa;
 }
 .f-area{
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: rgb(183, 180, 180);
    height:9rem;
 }

 .social-area{
    display:flex;
    align-items: center;
    gap:4px;
    font-size: 20px;
    margin-top: 10px;
 }
 .f-name{
    display:flex;
    align-items: center;
    gap:4px;
    font-size: 20px;
    margin-top: 10px;
    opacity:0.6;
 }

.f-name:hover{
    opacity:1;
}

.f-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    margin-top: 2px;
}

.f-link a{
    color: rgb(248, 248, 248) !important;
    text-decoration: none !important;
    opacity:0.5;
}
.f-link a:hover{
    opacity:1;
    text-decoration: underline !important;
} 
.navbar-nav{
    margin-left:0rem;
}
.nav-link{
    margin-left:3rem;
    font-weight: 1000;
}

.social-area i{
    opacity:0.5;
}

.social-area i:hover{
    opacity: 100%;
}
.card{
    width:100%;
    height:100%;
    border: none !important;
    margin-top: 20px;
}
.card-img-top{
    height:450px;
    object-fit: cover;
    border-radius:1rem;
}
.create-btn{
    margin-left: 20rem;
}

.card-body a{
    color:#030303;
    text-decoration: none;
}

.card-img-top:hover{
    opacity:0.5;
    transition: 0.29s;
}

.new{
    /* background-color:#C9B59C ; */
    max-width: 900px;
    /* padding: 30px; */
    /* border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,1); */
    margin-bottom: 40px !important;
    height:750px !important;
    margin:2px auto;

}
.new label{
    color:#050505 !important;
}
label{
    font-size:17px;
}

.h{
    text-align: center;
}

